html{
	font-family: 'andale mono';
}
body{
	margin:0;
	padding:0;
	border: 12px solid black;
	overflow-x: hidden;
}
section{
	margin-left: 400px;
	margin-right: 50px;
}
table{
/*	background-color: red;*/
}
footer{
	margin-left:350px;
	margin-right:50px;
}
p{
	font-size:20pt;
}
a{
	text-decoration: none;
}
a:visited{
	color:black;
}
.profile_pic{
	width:100px;
}
.footer_links{
	display: block;
}
.icon_image{
	width:60px;
}
#logo{
	width:350px;
}
#who_we_are{
	margin-top:250px;
	line-height: 35pt;
}
#icon_container{
	list-style-type: none;
	display: inline-block;
}
#icon_container li{
	display: inline-block;
}
#footer_table{
	width:100%;
}
#footer_column_two{
	text-align: right;
}

/*//////////NAVIGATION////////////*/
nav{
/*	background-color:red;*/
	float:left;
	position: fixed;
}
nav ul{
	list-style-type: none;
	line-height: 35pt;
}
nav ul li a:hover{
	background-color: black;
	color:white;
}
nav ul li a::before{
	content: "=";
}
#left_nav{
	width: 300px;
	margin-top:30px;
}
#announcement{
	padding-left:40px;
}

/*//////////MEMBERS////////////*/
#members ul{
	list-style-type: none;
}