html{
	font-family: 'andale mono';
}
body{
	margin:0;
	padding:0;
	border: 12px solid black;
	overflow-x: hidden;
}
section{
	margin-left: 400px;
	margin-right: 50px;
}
table{
/*	background-color: red;*/
}
footer{
	margin-left:400px;
	margin-right:50px;
}
a{
	text-decoration: none;
}
a:visited{
	color:black;
}

#who_we_are{
	margin-top:250px;
	line-height: 35pt;
	font-size:20pt;
}

/*//////////NAVIGATION////////////*/
nav{
/*	background-color:red;*/
	float:left;
	position: fixed;
}
nav ul{
	list-style-type: none;
	line-height: 35pt;
	padding:0;
}
nav ul li a:hover{
	background-color: black;
	color:white;
}
nav ul li a::before{
	content: "=";
}
nav ul li a:hover::before{
	content: "+";
}
#left_nav{
	width: 300px;
	margin-top:30px;
	margin-left: 40px;
	height:100vh;
}
#announcement{
	display: inline-block;
	color:red;
}
#logo{
	width:100%;
}

/*//////////MEMBERS////////////*/
#members{
	margin-top:100px;
}
#members ul{
	list-style-type: none;
	padding:0;
}
#members ul li{
	margin-bottom: 30px;
}
.image_container{
	border-radius: 100px;
	width:200px;
	height:200px;
	overflow: hidden;
}
.profile_pic{
	width:100%;
}
.user_text{
	margin:0;
	margin-left: 40px;
}
#user_description{
	font-size:16pt;
}

/*//////////FOOTER////////////*/
#icon_container{
	list-style-type: none;
	display: inline-block;
	padding:0;
}
#icon_container li{
	display: inline-block;
}
#footer_table{
	width:100%;
}
#footer_column_two{
	text-align: right;
	font-size: 16pt;
}
.footer_links{
	display: block;
	font-size: 20pt;
}
.footer-hr{
	color:black;
	margin: 10px 0;
	width:65px;
	background:black; 
	border:0; 
	height:3px
}
.icon_image{
	width:30px;
}
#contact-title{
	text-decoration: underline;
}